name: Workflow CI Pipeline tpp

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Installer Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Builder le JAR Spring Boot
        working-directory: ./springboot/app
        run: mvn clean package -DskipTests

      - name: Builder l’image Docker du backend (local)
        run: docker build -t nouran10/springboot-app ./springboot/app

      - name: Builder l’image Docker du frontend (local)
        run: docker build -t nouran10/angular-app ./angular-app

      - name: Lancer docker compose
        run: |
          docker compose up -d
          docker ps
